@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@theme{
  --font-josefin: "Josefin Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
  --breakpoint-xs: 640px,
}

.ban_slick .slick-dots{
  position: absolute;
  top: 55%;
  left: 10%;
}

.ban_slick .slick-dots li button{
  color: transparent;
}
.ban_slick .slick-dots li.slick-active{
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

@media (max-width: 640Px) {
.ban_slick .slick-dots li.slick-active{
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.ban_slick .slick-dots li{
  margin-bottom: -4px !important;
}
}

.tc_slick .slick-dots{
  display: flex !important;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.tc_slick .slick-dots li button{
  color: transparent;
  border: 1px solid #ff0000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.tc_slick .slick-dots li.slick-active{
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-bottom: 15px
}

.featureP .slick-dots{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 20px;
}
.featureP .slick-dots li button{
  color: transparent;
  height: 4px;
  width: 16px;
  background-color: #FEBAD7;
}
.featureP .slick-dots li.slick-active button{
  height: 4px;
  width: 24px;
  background-color: #FB2E86;
  z-index: 9999;
}

@media (max-width: 640Px) {
  .featureP .slick-dots li button {
    height: 4px;
    width: 8px;
  }
  .featureP .slick-dots li.slick-active button {
    height: 4px;
    width: 10px;
  }
  .featureP .slick-dots{
    gap: 10px;
  }
}




/* search type er close btn remove */
@layer utilities {
  .no-clear::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}